/* style for filtering and sorting of products */
.sortProduct{
    display: flex;
    align-items: center; 
    margin-left: 50px;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
}

.sortProduct > * {
    padding: 0px 10px;
}

.searchProduct{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.searchProduct > select{
    margin: 15px;
    padding: 5px;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}

.sorting{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sorting > button {
    background-color: var(--button1);
    font-size: smaller;
    border-radius: 40px;
    border-style: none;
    height: 30px;
    width: 90px;
    box-shadow: 0 2px 8px var(--shadow-1);
    margin: 5px;
    cursor: pointer;
}

.sorting > button:hover {
    background-color: black;
    color: white;
}

.sorting > button:focus{
    background-color: white;
    color: var(--hover);
    border: 2px solid var(--hover);
}

.sorting > .icon {
    padding-right: 10px;
}

/* style for each product cards */
.product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product-cards{
    background-color: rgb(238, 237, 237);
    box-shadow: 0 2px 8px var(--shadow-1);
    border-radius: 10px;
    width: 250px;
    height: 300px;
    margin: 10px;
    padding: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.product-cards h3 {
    color: var(--hover);
    font-family: Circular Bold;
}

.product-cards p {
    font-size: smaller;
    font-style: italic;
    justify-content: left;
}

.card-img {
    flex: 1;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-img img {
    max-width: 100%;
    object-fit: cover;  
}

.addToCart{
    background-color: black;
    color: white;
    font-size: smaller;
    border-radius: 10px;
    border-style: none;
    height: 30px;
    width: 100%;
    box-shadow: 0 2px 8px var(--shadow-1);
    margin-top: 5px;
    cursor: pointer;
}

.addToCart:hover {
    background-color: var(--button2);
    color: black;
}