/* navigation bar */

.navUser {
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
}

.navUser > * {
    margin: 0px 20px;
}

.navUser > button {
    background-color: black;
    color: white;
    font-size: medium;
    border-radius: 40px;
    border-style: none;
    height: 30px;
    width: 100px;
    box-shadow: 0 4px 8px var(--shadow-1);
    cursor: pointer;
}

.navUser > button:hover{
    background-color: var(--hover);
    color: white;
}

.profile:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.titleCustomer{
    text-align: center;
    font-size: x-large;
    padding: 10px;
}

.titleCustomer > h1 {
    font-family: Circular Bold;
    color: var(--hover);
}

/* for cards */
.customer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  
.customer-cards{
    background-color: rgb(238, 237, 237);
    box-shadow: 0 4px 8px var(--shadow-1);
    border-radius: 10px;
    height: 250px;
    margin: 30px 10px 0 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

.customer-cards > * {
    margin: 5px;
}

.customer-cards > button {
    margin: 0px 100px;
    background-color: var(--button1);
    font-size: smaller;
    border-radius: 40px;
    border-style: none;
    height: 30px;
    width: 150px;
    box-shadow: 0 2px 10px var(--shadow-1);
    cursor: pointer;
}

.customer-cards > button:hover{
    background-color: var(--hover);
    color: white;
}

.customer-cards:hover > .icon{
    transform: scale(1.1);
}

.logBtn:hover {
    background-color: var(--hover);
}