/* navigation bar */
.navCustomer{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    text-align: center;
    padding: 0px 70px;
    position: fixed;
    width: 100%;
    /* background-image: url('/src/img/customerHeader.png');
    background-position: center;
    background-size: cover;  */
    background-color: var(--hover);
    height: 100px;
    z-index: 1;
}

.navCustomer a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 10px black;
}

.navUser {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navUser > * {
    margin: 0px 20px;
}

.navUser > button {
    background-color: black;
    color: white;
    font-size: medium;
    border-radius: 40px;
    border-style: none;
    height: 30px;
    width: 100px;
    box-shadow: 0 4px 8px var(--shadow-1);
}

.navUser > button:hover{
    background-color: var(--hover);
    color: black;
}

.profile:hover{
    transform: scale(1.1);
}

.headerCustomer{
    height: 100px;
}

.titleCustomer{
    text-align: center;
    font-size: x-large;
    padding: 10px;
}

hr {
    border-top: 5px solid #bbb;
    border-radius: 5px;
}

/* for cards */
.customer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.customer-cards{
    background-color: rgb(238, 237, 237);
    box-shadow: 0 4px 8px var(--shadow-1);
    border-radius: 10px;
    width: 350px;
    height: 250px;
    margin: 30px 20px 0px 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customer-cards > * {
    margin: 5px;
}

.customer-cards > button {
    margin: 0px 100px;
    background-color: var(--hover);
    font-size: smaller;
    border-radius: 40px;
    border-style: none;
    height: 30px;
    width: 150px;
    box-shadow: 0 4px 8px var(--shadow-1);
}

.customer-cards > button:hover{
    background-color: black;
    color: white;
}

.customer-cards:hover > .icon{
    transform: scale(1.1);
}

/* news */
.header {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.news-customer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url('/src/img/farmers-bg.png');
    background-position: center;
}

.news{
    background-color: rgba(238, 237, 237, 0.662);
    box-shadow: 0 4px 8px var(--shadow-1);
    border-radius: 10px;
    width: 700px;
    height: 350px;
    margin: 20px;
    padding: 10px 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.news > .title{
    font-size: large;
    font-weight: bold;
    padding-bottom: 5px;
}

.news p {
    align-items: center;
}