/* navigation bar */
.navAdmin{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    text-align: center;
    padding: 0px 70px;
    position: fixed;
    width: 100%;
    background-image: url('/src/img/adminHeader.png');
    background-position: center;
    background-size: cover; 
    height: 100px;
    z-index: 1;
}

.logo{
    width: 5%;
}

.navAdmin a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 10px black;
}

.navAdmin > button {
    background-color: black;
    color: white;
    font-size: medium;
    border-radius: 40px;
    border-style: none;
    height: 30px;
    width: 100px;
    box-shadow: 0 4px 8px var(--shadow-1);
}

.navAdmin a:hover{
    font-size: larger;
}

.navAdmin > button:hover{
    background-color: var(--hover);
    color: black;
}

.headerAdmin{
    height: 100px;
}

.titleAdmin{
    text-align: center;
    font-size: x-large;
    padding: 10px;
}

hr {
    border-top: 5px solid #bbb;
    border-radius: 5px;
}

/* cards */
.admin-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.admin-cards{
    background-color: rgb(238, 237, 237);
    box-shadow: 0 4px 8px var(--shadow-1);
    border-radius: 10px;
    width: 350px;
    height: 250px;
    margin: 30px 20px 0px 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-cards > * {
    margin: 5px;
}

.admin-cards > button {
    margin: 0px 100px;
    background-color: var(--hover);
    font-size: smaller;
    border-radius: 40px;
    border-style: none;
    height: 30px;
    width: 150px;
    box-shadow: 0 4px 8px var(--shadow-1);
}

.admin-cards > button:hover{
    background-color: black;
    color: white;
}

.admin-cards:hover > .icon{
    transform: scale(1.1);
}
