/* cards for order list */
.order-cards{
  background-color: rgb(238, 237, 237);
  box-shadow: 0 2px 8px var(--shadow-1);
  border-radius: 10px;
  height: auto;
  margin: 5px 10px;
  padding: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.order-cards > .prodName {
  font-style: normal;
  font-family: Circular Bold;
}

.order-cards > div {
  font-size: smaller;
  font-style: italic;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex: 1;
}

/* style for button */
.confirmBtn{
  background-color: black;
  color: white;
  font-size: smaller;
  border-radius: 40px;
  border-style: none;
  width: 100px;
  height: 30px;
  box-shadow: 0 1px 8px var(--shadow-1);
  cursor: pointer;
}

.confirmBtn:hover {
  background-color: var(--hover);
  color: white;
}