/* cards for sales report */
.report-cards{
  background-color: rgb(238, 237, 237);
  box-shadow: 0 2px 8px var(--shadow-1);
  border-radius: 10px;
  height: auto;
  margin: 5px 10px;
  padding: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.report-cards > .prodName {
  font-style: normal;
  font-family: Circular Bold;
}

.report-cards > div {
  font-size: smaller;
  font-style: italic;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex: 1;
}

.report-cards > .id {
  flex: 2;
}

/* style for sorting and filtering */
.sortSales{
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-left: 50px;
  flex-wrap: wrap;
  flex-grow: 1;
}

.filterAdmin, .sortAdmin{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.filterAdmin > button, .sortAdmin > button {
  background-color: var(--button1);
  font-size: smaller;
  border-radius: 40px;
  border-style: none;
  height: 30px;
  width: 120px;
  box-shadow: 0 2px 8px var(--shadow-1);
  margin: 5px;
  cursor: pointer;
}

.filterAdmin > button {
  background-color: var(--button3);
}

.filterAdmin > button:hover, .sortAdmin > button:hover{
  background-color: black;
  color: white;
}

.sortAdmin > button:focus{
  background-color: white;
  color: var(--hover);
  border: 2px solid var(--hover);
}

.filterAdmin > button:focus{
  background-color: white;
  color: var(--button3);
  border: 2px solid var(--button3);
}