.salesTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .salesTable th, .salesTable td {
    border: 1px solid #dddddd;
    padding: 8px;
  }
  
  .salesTable th {
    text-align: left;
    background-color: #f2f2f2;
  }
  
  .salesTable tr:nth-child(even) {
    background-color: #dddddd;
  }