.about{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    min-height: 100vh;
    /* background-image: url('/src/img/farmers.png'); */
    background-position: center;
    background-size: cover;
}
  
p {
    font-family: "Satoshi";
}

.about-main{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    /* background-color: black; */
    color: black;
    padding: 20px;
    padding-top: 100px;
}

.about-main img{
    width: 50%;
}

.about-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}

.about-section {
    background-color: rgb(238, 237, 237);
    box-shadow: 0 2px 8px var(--shadow-1);
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    flex-grow: 1;
}

.about-section ul {
    list-style: none;
    font-style: italic;
}