/* style for about page */
.about{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    min-height: 100vh;
}
  
p {
    font-family: "Satoshi";
}

/* animation of image slides */
@keyframes animate {
    0%, 100%{
        background-image: url('/src/img/img1.jpg');
    }
    25% {
        background-image: url('/src/img/img2.jpg');
    }
    50% {
        background-image: url('/src/img/img3.jpg');
    }
    75% {
        background-image: url('/src/img/img4.jpg');
    }
}

.about-main{
    min-height: 100vh;
    width: 100%;
    animation: animate 16s ease-in-out infinite;
    background-size: cover;
    background-position: center;
}

.about-outer {
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.extra {
    flex: 1;
}

.details {
    flex: 1;
    text-align: start;
    margin: 50px;
}

.details > h1 {
    font-size: 5em;
    color: white;
    font-weight: bolder;
    font-family: Circular Bold;
}

.details > * {
    color: white;
}

.about-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-section {
    box-shadow: 0px -5px 5px -2px rgba(1, 1, 1, 0.2);
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    width: 350px;
    height: 400px;
    flex-grow: 1;
}

.about-section h2 {
    justify-content: center;
    text-align: center;
    font-family: Circular Bold;
}

.about-section > .icon {
    padding-bottom: 10px;
}

.about-section ul {
    list-style: none;
    font-style: italic;
}