.sortProduct{
    display: flex;
    justify-content: start;
    align-items: center; 
    margin-left: 50px;
}

.sortProduct > * {
    padding: 0px 10px;
}

.sortProduct > button {
    background-color: var(--hover);
    font-size: smaller;
    border-radius: 40px;
    border-style: none;
    height: 30px;
    width: 90px;
    box-shadow: 0 4px 8px var(--shadow-1);
    margin: 0px 10px;
}

.sortProduct > button:hover {
    background-color: black;
    color: white;
}

.sortProduct > button:focus{
    background-color: green;
    color: white;
}

.searchProduct{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchProduct > select{
    margin: 15px;
    padding: 5px;
    border-radius: 4px;
    box-sizing: border-box;
}

.product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product-cards{
    background-color: rgb(238, 237, 237);
    box-shadow: 0 4px 8px var(--shadow-1);
    border-radius: 10px;
    width: 250px;
    height: 250px;
    margin: 0px 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.card-img {
    flex: 1;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-img img {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
}

