footer{
    display: flex;
    flex-direction: column;
    background-color: var(--button1);
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
}

footer p{
    justify-content: center;
    align-items: center;
    text-align: center;
}