@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

/* navigation bar */
.navRoot {
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navRootHome {
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-item{
    position: relative;
    display: flex;
    text-decoration: none;
    margin: 20px 50px;
    color: black;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
}

.nav-item::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--hover);
    transition: width 0.3s ease-in-out;
}

.nav-item:hover::after{
    width: 100%;
}

.nav-item:hover{
    color: var(--hover);
    border-radius: 10px;
}

.nav-item:focus{
    color: var(--hover);
}

/* logo */
.logoHeader {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 15px;
    top: 15px;
    width: 50px;
    margin-left: 10px;
}

.appContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* home */
#main-content{
    color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    min-height: 100vh;
    min-width: 100vh;
    align-items: center;
    padding-left: 80px;
    position: relative;
}

#main-content h1{
    font-size: 75px;
    animation: 2s anim-lineUp ease-out;
}

#main-content h2{
    font-size: 50px;
    animation: 2s anim-lineUp ease-out;
}

#main-content p{
    animation: 2s anim-lineUp ease-out;
    margin-right: 300px;
}

.loginBtn{
    background-color: var(--button1);
    font-weight: bold;
    border-radius: 10px;
    border-style: none;
    height: 50px;
    width: 150px;
    margin-top: 20px;
}

.loginBtn:hover{
    background-color: var(--hover);
    color: white;
}

.main-content-text{
    width: 75%;
}

.homeImg{
    display: block;
    animation: spin 10s linear infinite;
    width: 45%;
    position: absolute;
    right: -150px;
    transform: translateY(-50%);
    overflow: hidden;
}

/* Add these styles in your CSS file */
.admin-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  }
  
  .admin-modal-overlay {
    background-color: rgba(0, 0, 0, 0.75);
  }
  