/* index.css */

@import url('style/homepage.css');
@import url('style/register.css');
@import url('style/about.css');
@import url('style/customer/customerhome.css');
@import url('style/customer/customerproduct.css');
@import url('style/customer/customercart.css');
@import url('style/customer/customerorder.css');
@import url('style/customer/customerprofle.css');
@import url('style/admin/adminhome.css');
@import url('style/admin/adminproduct.css');


@font-face {
  font-family: "Circular";
  src: url("font/CircularStd-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Satoshi";
  src: url("font/Satoshi-Medium.otf") format("opentype");
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
  font-family: "Circular";
}

html {
  height: 100%;
  --primary: #DFDCDC;
  --background-color: #ffffff;
  --shadow-1: rgba(112, 112, 112, 0.704);
  --hover: #ff4500;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0;
  background-color: var(--background-color);
}